<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/view/style/index.css">
</head>
<body>
    <div class="menu-container">
    <h1>Controle de Estoque</h1>
    <a href="../view/pages/insertItem/insert.html" class="btn">Inserção de Itens</a>
    <a href="../view/pages/tableController/controller.html" class="btn">Controle de Itens Retirados</a>
  </div>
</body>
</html>